@media only screen and (max-width: 768px) {

    main {
        margin: 24px 0 0 0;
        display: grid;
        grid-auto-rows: min-content;
    }

    .title {
        font-size: 24px;
        padding-top: 8px;
        margin-bottom: 24px;
        display: grid;
    }

    .title > * {
        padding-left: 32px;
    }

    #main-row {
        width: 100%;
        display: grid;
        overflow: auto hidden;
    }

    nav {
        display: flex;
    }

    nav p {
        border-radius: 32px;
        font-size: 14px;
        padding: 12px 18px 12px 18px;
        margin-right: 16px;
    }

    #username {
        margin-left: 0;
        line-height: 30px;
        font-size: 18px;
    }

    page-footer {
        display: none; /* TODO */
    }

    #chat-wrapper {
        width: calc(100vw - 48px);
        margin: 24px;
    }

    #chat-wrapper .scroll-gradient {
        display: none;
    }

    #chat {
        overflow-y: hidden;
        padding-bottom: 0;
        position: initial;
        height: auto;
    }

    .msg {
        font-size: 12px;
        padding: 16px 24px;
    }

    .msg span {
        line-height: 16px;
    }

    .msg img {
        width: 80px;
        margin-bottom: 4px;
    }

    #options-wrapper {
        position: relative;
    }

    #options-wrapper .scroll-gradient {
        display: block;
        right: 0;
        height: 100%;
    }

    #chat-options {
        margin-bottom: 24px;
        width: 100vw;
        overflow-x: auto;
        display: inline-flex;
        flex-direction: row;
    }

    #chat-options .bubble {
        margin: 0 4px;
    }

    #chat-options .bubble:first-of-type {
        margin-left: 24px;
    }

    #skip-btn {
        width: 100%;
        margin: 0 24px;
    }
}