:root {
    --background: #FD9676;
    --primary: #112F4C;
    --secondary: #1595B1;
    --tertiary: #E1E6EA;
}

body {
    margin: 100px 0 0 150px;
    background-color: var(--background);
    font-family: 'Lato', sans-serif;
}

.title {
    font-size: 50px;
    color: var(--primary);
    margin-bottom: 80px;
}

#username {
    margin-left: 50px;
    opacity: .5;
}

.chat {
    width: 500px;
    display: grid;
}

.bubble {
    white-space: nowrap;
    margin-bottom: 16px;
    filter: drop-shadow(0 7px 0 rgba(0, 0, 0, .07));
}

.bubble-out {
    margin-left: auto;
}

.msg {
    font-size: 16px;
    line-height: 22px;
    padding: 16px 32px;
    border-radius: 32px;
    display: inline-block;
}

.msg a {
    color: var(--secondary);
}

.msg span {
    display: block;
}

.msg img {
    width: 100px;
}

.msg img + span {
    text-align: center;
}

.msg-in {
    background-color: var(--tertiary);
    color: var(--primary);
}

.msg-out {
    background-color: var(--primary);
    color: var(--tertiary);
}

.bubble-tail {
    width: 20px;
    height: 15px;
    -webkit-mask: url('../assets/bubble-tail.svg') no-repeat;
    mask: url('../assets/bubble-tail.svg') no-repeat;
    display: inline-block;
}

.bubble-in .bubble-tail {
    background-color: var(--tertiary);
    transform: scaleX(-1) translateX(-2px);
}

.bubble-out .bubble-tail {
    background-color: var(--primary);
    margin-left: -5px;
}