:root {
    --background: #FD9676;
    --primary: #112F4C;
    --secondary: #1595B1;
    --tertiary: #E1E6EA;
    --translucid: rgba(17, 47, 76, .12);
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: inline-flex;
    background-color: var(--background);
    font-family: 'Lato', sans-serif;
}

main {
    margin: 5vw 0 0 8vw;
    display: flex;
    flex-direction: column;
}

#main-row {
    display: flex;
    flex: 1;
    overflow: hidden;
}

nav p {
    font-size: 16px;
    font-weight: bold;
    color: var(--primary);
    background-color: var(--translucid);
    margin-top: 0;
    padding: 16px 24px 16px 30px;
    border-radius: 32px 0 0 32px;
    cursor: pointer;
}

nav .selected {
    color: var(--tertiary);
    background-color: var(--primary);
    cursor: auto;
}

.title {
    font-size: 50px;
    color: var(--primary);
    margin-bottom: 80px;
}

#username {
    margin-left: 50px;
    opacity: .5;
}

page-footer {
    background-color: var(--translucid);
    padding: 0 16px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

page-footer a {
    width: 32px;
    height: 32px;
    margin-bottom: 50px;
}

#chat-wrapper {
    position: relative;
    width: 500px;
    height: 100%;
    margin: 0 5vw;
}

#chat {
    display: grid;
    width: 100%;
    height: 100%;
    grid-auto-rows: min-content;
    overflow-y: scroll;
    scrollbar-width: none;
    box-sizing: border-box;
    padding-bottom: 90px;
}

#chat::-webkit-scrollbar {
    display: none;
}

.scroll-gradient {
    position: absolute;
    width: 100%;
    z-index: 2;
    background: linear-gradient(var(--background), rgba(253, 150, 118, .001));
    background: -webkit-linear-gradient(top, var(--background), rgba(253, 150, 118, .001));
}

.bubble {
    white-space: nowrap;
    margin-bottom: 16px;
    filter: drop-shadow(0 7px 0 rgba(0, 0, 0, .07));
    --animate-duration: .5s;
}

.bubble-out {
    margin-left: auto;
}

.msg {
    font-size: 16px;
    padding: 16px 32px;
    border-radius: 32px;
    display: inline-block;
}

.msg a {
    color: var(--secondary);
}

.msg span {
    line-height: 22px;
    display: block;
}

.msg img {
    width: 100px;
}

.msg img + span {
    text-align: center;
}

.msg-in {
    background-color: var(--tertiary);
    color: var(--primary);
}

.msg-out {
    background-color: var(--primary);
    color: var(--tertiary);
}

.bubble-tail {
    width: 20px;
    height: 15px;
    -webkit-mask: url('../assets/bubble-tail.svg') no-repeat;
    mask: url('../assets/bubble-tail.svg') no-repeat;
    display: inline-block;
}

.bubble-in .bubble-tail {
    background-color: var(--tertiary);
    transform: scaleX(-1) translateX(-2px);
}

.bubble-out .bubble-tail {
    background-color: var(--primary);
    margin-left: -5px;
}

#chat-options {
    display: flex;
    flex-direction: column;
}

#chat-options > * {
    cursor: default;
}

#chat-options > *:not(.disabled) {
    cursor: pointer;
}

#options-wrapper .scroll-gradient {
    display: none;
    background: linear-gradient(right, var(--background), rgba(253, 150, 118, .01));
    background: -webkit-linear-gradient(right, var(--background), rgba(253, 150, 118, .01));
}

.locked > * {
    cursor: default !important;
}

@keyframes option-disable {
    from {
        opacity: 1;
    }
    to {
        opacity: .3;
    }
}

@keyframes option-lock {
    from {
        opacity: 1;
    }
    to {
        opacity: .8;
    }
}

@keyframes option-unlock {
    from {
        opacity: .9;
    }
    to {
        opacity: 1;
    }
}

#chat-options .disabled {
    animation-name: option-disable;
    animation-duration: .5s;
}

.locked > *:not(.disabled) {
    animation-name: option-lock;
    animation-duration: .5s;
}

.unlocked > *:not(.disabled) {
    animation-name: option-unlock;
    animation-duration: .5s;
}

#skip-btn {
    background: var(--translucid);
    border: none;
    color: var(--primary);
    opacity: .8;
    font-size: 16px;
    font-weight: bold;
    text-decoration: underline;
    font-family: 'Lato', sans-serif;
    padding: 16px 32px;
    border-radius: 32px;
}